.login-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/login-page-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-modal{
    position: absolute;
    overflow: hidden;
    background-color: rgb(252, 236, 215);
    padding: 3rem 2rem;
    opacity: 1;
    max-width: 60vw;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(66, 41, 26,0.5);
    transition: 0.4s;
}

.login-modal:hover{
  box-shadow: 0 8px 16px 0 rgba(66, 41, 26);
}

.modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
    color: rgba(66, 41, 26);
}

.form-error {
    font-size: 1rem;
    color: #b22b27;
}

.modal-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-button a {
    text-decoration: none;
    color: #8b857d;
    font-size: 1.15rem;
}
  
.sign-up {
    margin: 60px 0 0;
    font-size: 14px;
    text-align: center;
}

.sign-up a {
    color: #8b857d;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.input-label {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.7px;
    color: #8c7569;
    transition: 0.3s;
  }

.input-container input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 1rem;
}

.input-container input::-moz-placeholder {
    color: #BF712B;
    opacity: 1;
}
  
.input-container input:-ms-input-placeholder {
    color: rgba(152, 99, 59);
    opacity: 1;
}
  
.input-container input::placeholder {
    color: rgba(152, 99, 59);
    opacity: 1;
}
  
.input-container:focus-within {
    border-color: #8c7569;
}
  
.input-container:focus-within .input-label {
    color: rgba(66, 41, 26);
}
  